<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto|Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
    <link href="content/site.css" rel="stylesheet">
    <script type="text/javascript" src="scripts/jquery-1.10.2.min.js"></script>
       <link rel="stylesheet" href="content/textAngular.css" type="text/css">
        <link rel="stylesheet" href="content/pad.css" type="text/css">
       <link rel="stylesheet" href="content/mobile.css" type="text/css">
    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <title>JUMPINCRACOW</title>
</head>
<body ng-controller="MainCtrl" ng-init="init()">
    <header>
        <section id="desktop-menu">
            <div>
               JUMPINCRACOW.COM  <span> +48 509 245 404</span>
                <p ng-repeat="lang in languages" ng-class="{'selected' : lang.IsSelected == '1'}" ng-click="changeLanguage(lang)">
                    <img src="content/imgs/{{lang.FlagImg}}" />
                </p>
            </div>
            <a href="#" aria-data="contact">{{translation.Contact}}</a>
            <a href="#" aria-data="about">{{translation.About}}</a>
            <a href="#" aria-data="tours">{{translation.Tours}}</a>
        </section>

        <section id="mobile-menu">
            <div id="mobile-menu-top">
              <p id="mobile-menu-icon" ng-click="dispMobileNav = !dispMobileNav"></p>
               JUMPINCRACOW.COM

            </div>
            <div id="mobile-menu-content" ng-class="{'mobile-display-nav': dispMobileNav}">
              <div><a href="#" aria-data="tours" ng-click="dispMobileNav = false">{{translation.Tours}}</a></div>
                <div><a href="#" aria-data="about" ng-click="dispMobileNav = false">{{translation.About}}</a></div>
                <div><a href="#" aria-data="contact" ng-click="dispMobileNav = false">{{translation.Contact}}</a></div>
              <div><span> +48 509 245 404</span></div>
              <div>
                <div>
                  <p ng-repeat="lang in languages" ng-class="{'selected' : lang.IsSelected == '1'}" ng-click="changeLanguage(lang)">
                    <img src="content/imgs/{{lang.FlagImg}}" />
                  </p>
                </div>
              </div>
            </div>

            </div>


        </section>
    </header>
    <div id="bg">

        <h1>
          {{translation.Headline}}
        </h1>

    </div>


    <div id="tour-details" ng-show="showDetailedTour">

          <div id="tour-details-header" style="background-image: url('content/imgs/uploads/{{tourDetailsInfo.Img}}')">
            <p>{{(tourDetailsInfo.Languages | filter: {LanguageId : languageId})[0].ShortDescription}}</p>
          <h2>{{(tourDetailsInfo.Languages | filter: {LanguageId : languageId})[0].Title}}</h2>

        </div>
        <div id="tour-details-content">
          {{translation.Price}}: {{tourDetailsInfo.Price}}  {{translation.Duration}}: {{tourDetailsInfo.Duration}}
          <hr />
            <div ta-bind ng-model="(tourDetailsInfo.Languages | filter: {LanguageId : languageId})[0].LongDescription"></div>

          <a href="#" ng-click="backFromDetails()">{{translation.Back}}</a>
        </div>
    </div>



        <section id="content" ng-show="!showDetailedTour">
            <section id="tours">
                <h2 class="h2">{{translation.Tours}}</h2>

                <div ng-repeat="tour in tours" class="tour-container" ng-show="!showDetailedTour">
                    <div class="tour-img">
                        <img src="content/imgs/uploads/{{tour.Img}}" ng-click="zoomImg(this)" />
                        <p class="tour-price">{{tour.Price}}</p>
                    </div>
                      <div ng-repeat="item in tour.Languages | filter: filterOnLanguageId">
                        <p>{{item.Title}} <span class="tour-hours">{{tour.Duration}} </span></p>
                        <p>{{item.ShortDescription}}</p>

                          <a ng-click="showDetails(tour)">{{translation.Details}}....</a>
                      </div>
                </div>

            </section>
            <section id="about">
                <h2 class="h2">{{translation.About}}</h2>

                <div id="about-img"><img src="content/imgs/uploads/{{aboutImg[0].FileName}}"></div>
                <div ta-bind ng-model="aboutText" id="about-info"></div>
            </section>
            <footer>
                <div id="contact">
                    <h3 id="contact-header">{{translation.Contact}}</h3>
                      <div ta-bind ng-model="contactText"></div>
                </div>
                <div id="copyright">
                    copyright @ 2017 jumpincracow.com
                </div>
            </footer>

        </section>

    <script src='scripts/textAngular-rangy.min.js'></script>
    <script src='scripts/textAngular-sanitize.min.js'></script>
    <script src='scripts/textAngular.min.js'></script>
      <script src='scripts/underscore-min.js'></script>
    <script type="text/javascript" src="scripts/site.js"></script>
</body>
</html>
