@media (max-width: 800px) {
    /* ------ top menu -------*/
    #desktop-menu {
      display:none;
    }

    header{
      right:0px;
    }

    #mobile-menu {
      display:block;
      font-weight:bold;
      font-size: 11pt;
      padding-top:8px;

    }

    #mobile-menu a
    {
      color:black;
    }

    #mobile-menu-top
    {
       color: #d45d2f;
       padding:10px;
    }

    #mobile-menu .selected {
        opacity:1.0;
    }

    #mobile-menu-icon
    {
      margin:0px;
      width:24px;
      height:20px;
      background-image: url('imgs/menu.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      float:right;
    }


    #mobile-menu-content
    {
      height:0px;
      overflow:hidden;
      -webkit-transition:all linear 0.2s;
      transition:all linear 0.2s;
    }

    .mobile-display-nav
    {
      height:227px !important;
      -webkit-transition:all linear 0.2s;
      transition:all linear 0.2s;

    }


    #mobile-menu-content div
    {
        background-color:white;
        width:100%;
        overflow:auto;
        border-bottom:1px solid lightgray;
        padding:10px 0px 10px 0px;
        text-align: center;

    }

    #mobile-menu-content div div
    {
        width:40%;
        margin:auto;
        border:0px;
    }

    #mobile-menu-content div div p
    {
        width:33%;
        float:right;
        margin:0px;
        opacity:0.2;

    }
    #mobile-menu-content div img{
      border:1px solid lightgray;
    }

    #mobile-menu-content div span
    {
      color:#5E5E5E;
      background-image:url('imgs/call.png');
      background-repeat:no-repeat;
      padding-left:18px;
      margin-left:20px;
      background-position-y:center;
    }

    /* ---- background --------*/
    #bg
    {
      height:400px;
    }

    #bg h1
    {
      width:80%;
      margin:auto;
      font-size:40pt;
      text-align:center;
      line-height: normal;
      padding-left:0px;
    }

    /*---- content-------*/

    #content{
      margin-top:400px;
      padding-top:10px;
    }

    #content h2
    {
      padding: 0px 0px 10px 10px;
    }


    #content section {
        width:100%;
        margin:auto;
        padding-bottom:40px;
        overflow:auto;
    }

    /*------tour -----------*/


    .tour-container {
        width:95%;
        /*border-radius:10px;*/
        background-color:white;
        overflow:auto;
        float:none;
        margin:auto;
        margin-bottom: 20px;
    }

    .tour-container img {
        width:100%;
        /*border-radius:10px;*/
        background-color:white;
        overflow:auto;
        float:none;
        margin:0px;
        transform: scale(1.0);
    }


    .tour-img {
        width:100%;
        height:300px;
        overflow:hidden;
        position:relative;
    }

    #tour-details-header
    {
      padding-top:200px;
    }

    #tour-details-header h2
    {
      padding:15px;
      color:white;
      font-size:20pt;
       text-shadow:2px 1px 1px #5E5E5E;
       background-color: rgba(0,0,0,0.4)
    }

    #tour-details-header p
    {
      top:50px;
      right:10px;
      font-size:18pt;
      padding:7px;
      border-radius:3px;
    }

      /*------about -----------*/
      #about-img
      {
        width:80%;
        border:0px;
        float:none;
        margin:auto;
        padding:0px;

      }

      #about-info
      {
        width:90%;
        margin:auto;
      }

}
