body{
  background-image: url("../../content/imgs/krakow2.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
   margin:0px;
   padding:0px;
  color: #5E5E5E;

}

header
{
  background-color:white;
  padding:15px;
  overflow:auto;
}

header p
{
  padding:0px;
  margin:0px;
  float:right;

}

a{
  color:black;
  text-decoration: none;
  font-weight: bold;

}

a:hover {
  text-decoration: underline;
}
section{
  width:70%;
  margin:auto;
  background-color: white;
  padding:20px;
  margin-top:40px;
  overflow:auto;
  border-radius:3px;
}

td {
  padding-top:10px;
}

/* translation */

.translation-item
{
  overflow:Auto;
  border-bottom: 1px solid lightgray;
  padding:4px;
}

.translation-item div
{
  float:left;
  width:180px;
}

.translation-item div:nth-child(1)
{
  font-weight: bold;
}

#translation-headers
{
  overflow:auto;

}

#translation input[type='text']
{
  width:130px;
  font-family: 'Open Sans', sans-serif;
  padding:2px;
  font-size:12pt;
  margin-left:-3px;
}

#translation img
{
  width:30px;
  height:30px;

  cursor: pointer;
}

#translation p{
background-color:#FF8E8E;
color:red;
border:1px solid red;
border-radius:5px;
padding:20px;
font-weight:bold;
}


#translation-headers div
{
  width:180px;
  float:left;
  min-height: 2px;
  font-weight: bold;
}


.operation-success
{
  background:lightgreen;
  padding:10px;

  border-radius:5px;
  font-weight:bold;
  color:green;
  border:1px solid green;
  width:80%;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  text-align:center;
}

.operation-failed
{
  background-color:#f9d1d1;
  padding:10px;

  border-radius:5px;
  font-weight:bold;
  color:red;
  border:1px solid red;
  width:80%;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  text-align:center;
}

.editable-sections
{
  display:none;
}

#edit-select-language
{
  overflow:auto;
}

#edit-select-language img
{
  border: 1px solid #efefef;
}

#edit-select-language div
{
  float:left;
  padding:5px;
  cursor:pointer;
}

#text-editor-save-img
{
    width:100px;
    height:100px;
}

#upload-pictures-gallery
{
  overflow:auto;
}

#upload-pictures-gallery span
{
  cursor: pointer;
}

#upload-pictures-gallery img
{
  max-width:100%;
  max-height:140px;
}

#upload-pictures-gallery div{

  border: 1px solid lightgray;
  padding:7px;
  margin: 5px;
  float:left;
  width:200px;
  min-height:230px;
  text-align:center;
  border-radius:3px;
}


#upload-pictures-form
{
  padding:10px;
  border:1px solid lightgray;
  border-radius:3px;
  background-color:#f7f7f7;
}

#upload-pictures-form input
{
  padding:4px;
  margin:8px;
}

#upload-pictures-gallery .is-about-img
{
  color:black;
  background-color:lightgreen;
  padding:3px;
}

#edit-tour-selected-picture-section
{
  overflow: auto;
  width:100%;
}

.edit-tour-section-part
{
  overflow: auto;
  width:100%;
  line-height: 30px;
  margin-bottom:30px;
}

.edit-tour-section-part input
{
  width:300px;
}


.edit-tour-section-part img
{
  border:1px solid lightgray;
  margin-right:6px;
}

#tour-long-description textarea
{
  width:400px;
  height:150px;
}

#tour-long-description div
{
  float:left;
}

#edit-tour-selected-picture-section div{
  float:left;
  width:150px;
  padding:5px;
  margin:5px;
  border:1px solid lightgray;
  text-align:center;
  opacity:0.5;
  border-radius:3px;

}

#edit-tour-selected-picture-section img{
  max-width:100%;

}

#edit-tour-selected-picture-section .edit-tour-selected-picture
{
  background-color:#69e069;
  opacity:1.0;
}

.edit-tour-repeat-list
{
    overflow:auto;
    width:300px;
    padding:5px;
}

.edit-tour-repeat-list:nth-child(odd)
{
    background-color: #f2f2f2;
}

.edit-tour-new-added:nth-last-child(2)
{
  background-color: #affc88 !important;
  font-size:14pt;
}

.edit-tour-repeat-list p
{
    font-weight: bold;
    float:right;
    cursor:pointer;
    margin:0px;
    padding:0px;
}
